## INTRODUCTION TO NUMPY

DataType and Attributes

machine learning is finding patterns in numpy array

In [40]:
import numpy as np
import pandas as pd

In [41]:
# data type of an array in NumPy is ndarray
# ndarray= n Dimentional Array
a1=np.array([1,2,3])
a1

array([1, 2, 3])

In [42]:

type(a1)

numpy.ndarray

![](numpyanatomy.png)

In [43]:
a2=np.array([[1,2.5,3.2],
             [4,5,6.3]])
a2
a3=np.array([[[1,2,3],
    [4,5,6],
    [7,8,9]],

    [[10,11,12],
    [13,14,15],
    [16,17,18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [44]:
#refer above pic to undestand
a3.shape

(2, 3, 3)

In [45]:
a1.ndim,a2.ndim,a3.ndim
#ndim=number of dimentions

(1, 2, 3)

In [46]:
a1.dtype,a2.dtype,a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [47]:
a1.size,a2.size,a3.size
# size represents number of elements

(3, 6, 18)

In [48]:
type(a1),type(a2),type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

Dataframe from NumPy Array

In [50]:
a2

array([[1. , 2.5, 3.2],
       [4. , 5. , 6.3]])

In [52]:
df=pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.5  3.2
1  4.0  5.0  6.3

# Creating Arrays

In [54]:
ones=np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [60]:
type(ones)

numpy.ndarray

In [59]:
zeros=np.zeros((2,3))
a=pd.DataFrame(zeroes)
a

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0

In [ ]:
np.arrange()